body{
  text-align:center;
}

h1,h2,h3,h4{
  font-family:'Noto Serif',serif;
}

core-toolbar{
  background-color:$base2;
}

core-toolbar .logo{
  width:0;
  opacity:0;
  margin:-0.1em 0 0 0;
  -webkit-transition:width 2.0s,opacity 0.75s;
  transition:width 2.0s,opacity 0.75s;
}
core-toolbar .logo.over{
  width:100px;
  opacity:1;
  -webkit-transition:none;
  transition:none;
}
core-toolbar .logo img{
  height:1.5em;
  width:auto;
}
paper-tabs{
  height:64px;
}
paper-tab > a, paper-tab > a:visited, paper-tab > a:hover{
  color:$text-color;
  text-decoration:none;
}
paper-tab::shadow #ink{
  color: $text-color;
}

paper-tabs::shadow #selectionBar{
  background-color: $text-color;
}

#logo{
  width:15em;
  margin:2em 0;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-content > .wrapper{
  text-align:left;
  font-family: Arial, sans-serif;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
